.current-avatar {
    height: 200px;
}

label[for="id_avatar"] {
    width: 10em;
    color: #ffffff;
    background-color: #00AA72;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
}