{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block page_title %}
Ask Question
{% endblock page_title %}

{% block custom_css %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/create_question.css' %}">
{% endblock custom_css %}

{% block content %}

<div class="question">
    <h1 class="text-center">New Question</h1>
    <form action="{% url 'ask' %}" method="POST" class="form" novalidate>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Ask!</button>
        {% endbuttons %}
    </form>
</div>

{% endblock content %}