{% extends 'inc/base.html' %}

{% load static %}

{% block page_title %}
Index Page
{% endblock page_title %}

{% block custom_css %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/question_list.css' %}">
<link rel="stylesheet" href="{% static 'css/score.css' %}">
{% endblock custom_css %}

{% block content %}
<!-- Page Content -->
<div class="questions">

  {% for q in page_obj %}
  {% include "inc/question.html" with q=q %}
  {% endfor %}

</div>
{% endblock content %}

{% block pagination %}
{% include 'inc/pagination.html' %}
{% endblock pagination %}