{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block page_title %}
Login
{% endblock page_title %}

{% block custom_css %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock custom_css %}

{% block content %}

<h1 class="mt-3">Registration</h1>
<form action="{% url 'register' %}" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">Register</button>
    {% endbuttons %}
</form>
{% endblock content %}