{% load static %}

<div class="card mb-3 asnwer">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'img/avatar.jpg' %}" class="card-img" alt="...">

            <div class="row scores">
                <div class="post-score align-self-center">
                    <h4>{{ ans.score }}</h4>
                </div>
                <form action="#" method="POST">
                    <div class="d-flex flex-row justify-content-center answer-score">
                        <div class="btn-group mt-1 ml-1 d-flex align-self-center" role="group"
                            aria-label="Basic example">
                            <button type="button" class="btn btn-info">
                                <img width="15px" height="15px" src="{% static 'img/like_up.png' %}" />
                            </button>
                            <button type="button" class="btn btn-danger">
                                <img width="15px" height="15px" src="{% static 'img/like_down.png' %}" />
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">{{ ans.author }}</h5>
                </a>
                <p class="card-text question-text">{{ ans.text }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>

            <div class="row d-flex flex-row justify-content-around px-5">
                <div class="col">
                    <div class="form-group form-check">
                        <form action="#" method="POST">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Correct!</label>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>