{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">AskZhuk

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    
                </form>
            </li>
            <li class="nav-item mr-4">
                <a href="{% url 'ask' %}" class="btn btn-success">ASK!</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <img id="avatar" src="{% if user.profile.avatar %} 
                {{ user.profile.avatar.url }}
                {% else %}
                {% static 'img/avatar.jpg' %}
                {% endif %}" alt="{{ user.profile.nickname }}">
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ user.profile.nickname }}
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-info" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>